# docker-compose.yml
services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_PASSWORD: 123
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 10

  fastapi:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - PG_HOST=postgres
      - PG_PORT=5432
      - PG_USER=postgres          # ← ДОБАВИЛ
      - PG_PASSWORD=123
      - PG_DATABASE=postgres      # ← ДОБАВИЛ
    volumes:
      - .:/app
    command: [ "uv", "run", "uvicorn", "src.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload" ]